<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>乐夕阳</title>
    <link th:href="@{~/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script th:src="@{~/js/jquery-1.11.0.min.js}"></script>
    <script th:src="@{~/js/bootstrap.min.js}"></script>
    <!-- Custom Theme files -->
    <link th:href="@{~/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Theme files -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    }
    </script>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>
    <!--Calender-->
    <link rel="stylesheet" th:href="@{~/css/clndr.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{~/css/opn.css}" type="text/css"/>
    <script th:src="@{~/js/underscore-min.js}"></script>
    <script th:src="@{~/js/moment-2.2.1.js}"></script>
    <script th:src="@{~/js/clndr.js}"></script>
    <script th:src="@{~/js/site.js}"></script>
    <!--End Calender-->
</head>
<body>
<!--container-->
<div class="container">
    <!--main-content-->
    <div class="main-content" id="tabs">
        <!--top-header-->
        <div class="top-header" style="position:fixed;width: 95%;top:0;z-index: 9999">
            <!--top-nav-->
            <div class="top-nav" style="margin-bottom: 5px;">
                <!--<span class="menu"> <img th:src="@{~/images/icon.png}"  th:width="90%"></span>-->
                <nav>
                    <ul class="nav_font">
                        <li><a id="topic_section" href="#section-1"><i class="glyphicon glyphicon-th-large"></i>
                            <span> 主题</span></a></li>
                        <li><a id="main_section" href="#section-2"><i class="glyphicon glyphicon-align-justify"></i>
                            <span> 首页</span></a></li>
                        <li><a href="#section-3"><i class="glyphicon glyphicon-user"></i> <span> 个人</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="clearfix"></div>
            <!--top-nav-->
        </div>
        <!--top-header-->
        <!--inner-content-->
        <div class="inner-content" >
            <!--/accordions-->
            <div class="mid-tabs-top" style="margin-top: 8px;">
                <!--skill-one-->
                <div class="mid-tabs">
                    <div>
                        <div class="content">
                            <section id="section-1">
                                <div >
                                    <span class="twitter" style="margin-top: 0;font-size: 18px;color: #0c0509;">&nbsp;&nbsp;请点击选择感兴趣的主题,然后点击屏幕下方<strong>确认并更新</strong>按钮,开始阅读.</span>
                                </div>
                                <div class="tab-inner" >
                                    <div class="row" id="subTopics" >
                                            <div style="text-align: left;padding-left: 4%;">
                                                <div style="display:inline-block;">
                                                    <label class="form-check-label" >热门军事 :</label>
                                                </div>
                                                <div style="display:inline-block;">
                                                    <input type="checkbox" class="filled-in form-check-input" id="topic1001" value="1001" style="zoom:180%;">
                                                    <label class="form-check-label" for="topic1001">国内军事</label>
                                                </div >
                                            </div>
                                            <div style="text-align: left;padding-left: 4%;">
                                                <div style="display:inline-block;">
                                                    <label class="form-check-label" >社会新闻 :</label>
                                                </div>
                                                <div style="display:inline-block;">
                                                    <input type="checkbox" class="filled-in form-check-input" id="topic201" value="201" style="zoom:180%;">
                                                    <label class="form-check-label" for="topic201">综合万象</label>
                                                </div >
                                            </div>
                                            <div style="text-align: left;padding-left: 4%;">
                                                <div style="display:inline-block;">
                                                    <label class="form-check-label" >健康养生 :</label>
                                                </div>
                                                <div  style="display:inline-block;">
                                                    <input type="checkbox" class="filled-in form-check-input" id="topic101" value="101" style="zoom:180%;">
                                                    <label class="form-check-label" for="topic101">综合健康</label>
                                                </div>
                                                <div  style="display:inline-block;">
                                                    <input type="checkbox" class="filled-in form-check-input" id="topic102" value="102" style="zoom:180%;">
                                                    <label class="form-check-label" for="topic102">饮食养生</label>
                                                </div>
                                                <div  style="display:inline-block;">
                                                    <input type="checkbox" class="filled-in form-check-input" id="topic103" value="103" style="zoom:180%;">
                                                    <label class="form-check-label" for="topic103">起居养生</label>
                                                </div>
                                                <div  style="display:inline-block;">
                                                    <input type="checkbox" class="filled-in form-check-input" id="topic104" value="104" style="zoom:180%;">
                                                    <label class="form-check-label" for="topic104">医药养生</label>
                                                </div>
                                                <div  style="display:inline-block;">
                                                    <input type="checkbox" class="filled-in form-check-input" id="topic105" value="105" style="zoom:180%;">
                                                    <label class="form-check-label" for="topic105">运动养生</label>
                                                </div>
                                                <div  style="display:inline-block;">
                                                    <input type="checkbox" class="filled-in form-check-input" id="topic106" value="106" style="zoom:180%;">
                                                    <label class="form-check-label" for="topic106">时节养生</label>
                                                </div>
                                            </div>
                                            <div style="text-align: left;padding-left: 4%;">
                                                <div style="display:inline-block;">
                                                    <label class="form-check-label" >疾病防治 :</label>
                                                </div>
                                                <div style="display:inline-block;">
                                                    <input type="checkbox" class="filled-in form-check-input" id="topic301" value="301" style="zoom:180%;">
                                                    <label class="form-check-label" for="topic301">综合健康</label>
                                                </div >
                                                <div style="display:inline-block;">
                                                    <input type="checkbox" class="filled-in form-check-input" id="topic302" value="302" style="zoom:180%;">
                                                    <label class="form-check-label" for="topic302">中风防治</label>
                                                </div >
                                                <div style="display:inline-block;">
                                                    <input type="checkbox" class="filled-in form-check-input" id="topic303" value="303" style="zoom:180%;">
                                                    <label class="form-check-label" for="topic303">脑梗防治</label>
                                                </div >
                                                <div style="display:inline-block;">
                                                    <input type="checkbox" class="filled-in form-check-input" id="topic304" value="304" style="zoom:180%;">
                                                    <label class="form-check-label" for="topic304">支气管炎</label>
                                                </div >
                                                <div style="display:inline-block;">
                                                    <input type="checkbox" class="filled-in form-check-input" id="topic307" value="307" style="zoom:180%;">
                                                    <label class="form-check-label" for="topic307">便秘防治</label>
                                                </div >
                                                <div style="display:inline-block;">
                                                    <input type="checkbox" class="filled-in form-check-input" id="topic308" value="308" style="zoom:180%;">
                                                    <label class="form-check-label" for="topic308">白内障</label>
                                                </div >
                                                <div style="display:inline-block;">
                                                    <input type="checkbox" class="filled-in form-check-input" id="topic309" value="309" style="zoom:180%;">
                                                    <label class="form-check-label" for="topic309">骨质疏松</label>
                                                </div >
                                                <div style="display:inline-block;">
                                                    <input type="checkbox" class="filled-in form-check-input" id="topic310" value="310" style="zoom:180%;">
                                                    <label class="form-check-label" for="topic310">冠心病</label>
                                                </div >
                                                <div style="display:inline-block;">
                                                    <input type="checkbox" class="filled-in form-check-input" id="topic311" value="311" style="zoom:180%;">
                                                    <label class="form-check-label" for="topic311">糖尿病</label>
                                                </div >
                                                <div style="display:inline-block;">
                                                    <input type="checkbox" class="filled-in form-check-input" id="topic312" value="312" style="zoom:180%;">
                                                    <label class="form-check-label" for="topic312">痛风防治</label>
                                                </div >
                                                <div style="display:inline-block;">
                                                    <input type="checkbox" class="filled-in form-check-input" id="topic313" value="313" style="zoom:180%;">
                                                    <label class="form-check-label" for="topic313">风湿关节炎</label>
                                                </div >
                                            </div>

                                    </div>
                                    <div class="row" style="position:fixed; bottom:2%;width: 98%" >
                                        <div class="foot_font" >
                                            <a href="#" id="updateTopic" class="hvr-bounce-to-right button btn-lg"  style="width: 85%;text-align: center">确认并更新</a>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section id="section-2">
                                <div class="tab-inner">
                                    <div class="main_title" id="main_title"></div>
                                    <div>
                                        <span id="main_date"></span>
                                        <span id="main_author"></span>
                                    </div>
                                    <div class="main_context" id="main_content"></div>
                                </div>
                                <div class="row" style="position:fixed; bottom:2%;width: 98%" >
                                    <div class="col-md-6 foot_font" >
                                        <a href="#" id="pre_content" class="hvr-bounce-to-right button btn-lg"  style="float: left;width: 45%;text-align: center">上一条</a>
                                        <a href="#" id="next_content" class="hvr-bounce-to-right button btn-lg" style="float: right;width: 45%;text-align: center">下一条</a>
                                    </div>
                                </div>
                            </section>
                            <section id="section-3">
                                <div class="tab-inner">
                                    <img class="img-responsive" th:src="@{~/images/post.jpg}">
                                </div>
                            </section>
                        </div><!-- /content -->
                    </div><!-- /tabs -->
                    <link rel="stylesheet" type="text/css" th:href="@{~/css/component.css}"/>
                </div>
            </div>
        </div>
        <script th:src="@{~/js/cbpFWTabs.js}"></script>
        <script>
            var $t = new CBPFWTabs(document.getElementById('tabs'));
        </script>
        <div class="clearfix"></div>
        <!--//call-inner-->
    </div>

    <div class="clearfix"></div>
    <!--<audio src="" id="myaudio" controls="controls" hidden="hidden">-->
        <!--该浏览器不支持audio属性-->
    <!--</audio>-->
    <div id="audioBox" hidden="hidden"></div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
         style="padding-top: 40%">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <span style="font-size: 25px;" id="myModalLabel">
                        是否需要自动语音播放<br/>
                        请点击相应按钮选择。
                    </span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size: 18px;">关闭（不需要）
                    </button>
                    <button type="button" class="btn btn-primary" id="onPlayBtn" style="font-size: 18px;">
                        需要语音播放
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>
</div>
<script th:src="@{~/js/fingerprint2.min.js}"></script>
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script th:inline="javascript">
    var baseSoundURL = "http://pajw3brke.bkt.clouddn.com/"
    var index = 0
    var batchSize = 10
    var isAutoPlay = false
    var fpId = ""
    var ip = returnCitySN["cip"]
    var city = returnCitySN["cname"]
    var startTime = (new Date()).valueOf();

    /*[+

//     var mainContentList  = [[${mainContentList}]];

     +]*/
    var mainContentList =[]

    // content play
    function showContent(idx) {
        var mainContent = mainContentList[idx]
        $("#main_title").text(mainContent['title'])
        $("#main_date").text(mainContent['date'])
        $("#main_author").text(mainContent['author'])
        $("#main_content").html(mainContent['content'])
        startTime = (new Date()).valueOf();
    }

    function startPlay(idx) {
        if (isAutoPlay) {
            var audioDiv = document.getElementById("audioBox");
            if(audioDiv.hasChildNodes()){
                audioDiv.removeChild(audioDiv.firstChild);
            }
            var mainContent = mainContentList[idx]
            var arr = mainContent['ttsUrls'].split(",").reverse()
            var myAudio = new Audio();
//            var myAudio = document.getElementById("myaudio")
            // clean before
//            myAudio.pause()
//            myAudio.currentTime = 0
//            myAudio.removeEventListener('ended', playEndedHandler, false)

            myAudio.src = baseSoundURL + arr.pop();//每次读数组最后一个元素
            myAudio.addEventListener('ended', playEndedHandler, false);
//            myAudio.load();
            myAudio.play();
            document.getElementById("audioBox").appendChild(myAudio)
            function playEndedHandler() {
                myAudio.src = baseSoundURL + arr.pop();
                myAudio.load();
                myAudio.play();
//                console.log("=="+myAudio.src);
//                console.log(arr)
                !arr.length && myAudio.removeEventListener('ended', playEndedHandler, false);//只有一个元素时解除绑定
            }
        }
    }


    function stopPlay() {
        var myAuto = document.getElementById("myaudio")
        myAuto.pause();
    }

    // request handlers
    function getContentList(isInit){
        var search = {}
        search["fpId"] = fpId;
        search["ip"] = ip;
        search["city"] = city;
        search["init"] = isInit;
        var selected = [];
        $('#subTopics input:checked').each(function() {
            selected.push($(this).val());
        });
        search["subTopics"]=selected
        $.ajax({
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            url: "/main/getContentList",
            data: JSON.stringify(search),
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {
                mainContentList = data.result
                index = 0
                if(isInit){
                    if(data.subTopics != null && data.subTopics.length >0){
                        // update topics
                        for(j = 0,len=data.subTopics.length; j < len; j++) {
                            $("#topic"+data.subTopics[j]).prop('checked', true)
                        }
                        // show
                        showContent(index)
                        $t._show(1)
                        $("#myModal").modal('show');
                    } else {
                        $t._show(0)
                    }
                } else {
                    showContent(index)
                    startPlay(index)
                }

            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }


    function updateTopic(){
        var search = {}
        search["fpId"] = fpId;
        var selected = [];
        $('#subTopics input:checked').each(function() {
            selected.push($(this).val());
        });
        if(selected.length == 0){
            $t._show(1)
            return;
        }
        search["subTopics"]=selected
        $.ajax({
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            url: "/main/updateTopic",
            data: JSON.stringify(search),
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {
                getContentList(true)
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
//        $t._show(1)
    }

    function saveReadLog(){
        var search = {}
        search["fpId"] = fpId;
        currentPostId = mainContentList[index]['postId']
        search["postId"]=currentPostId
        search["startTime"]= startTime
        search["duration"]= (new Date()).valueOf()- startTime
        $.ajax({
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            url: "/main/saveReadLog",
            data: JSON.stringify(search),
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }

 // btn bind click
    $(document).ready(function () {
        $("#onPlayBtn").click(function () {
            $("#myModal").modal('hide');
            isAutoPlay = true
            startPlay(index)
        })

        $("#main_section").click(function() {
            showContent(index)
            if(!isAutoPlay){
                $("#myModal").modal('show');
            }
        })

        $("#next_content").click(function () {
            if(mainContentList.length == 0){
                return
            }
            saveReadLog()
            if( index == mainContentList.length - 1){
                getContentList(false)
            } else if (index < mainContentList.length - 1) {
                index = index + 1
                showContent(index)
                startPlay(index)
            }
        });

        $("#pre_content").click(function () {
            if (index > 0) {
                index = index - 1
                showContent(index)
                startPlay(index)
            }
        });

        $("#updateTopic").click(function () {
            updateTopic()
        });
    })


</script>
<script>
    function getUId() {
        new Fingerprint2().get(function (result, components) {
            console.log(result) // a hash, representing your device fingerprint
//            console.log(components) // an array of FP components
            fpId = result
            getContentList(true)
        })
    }
    getUId()
</script>

<!--//container-->
</body>
</html>

